
synchrodino-atmel/.vs/ArduinoSketch1/v14/.atsuo
synchrodino-atmel\ArduinoSketch1\ArduinoCore\Debug
synchrodino-atmel/ArduinoSketch1/ArduinoCore/Debug
synchrodino-atmel/ArduinoSketch1/ArduinoCore/Release
synchrodino-atmel/ArduinoSketch1/synchrodino/Debug
synchrodino-atmel/ArduinoSketch1/synchrodino/Release